body{
    background-color: rgb(235 236 231);
}
.titulo{
    font-family: 'Corinthia', cursive;
    font-size: 100px;
    text-align: center;
}
.banner-img{
    width: 100%;
    opacity: 0.7;
}
#banner{
    position: relative;
    text-align: center;
}
.div-titulo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
h2{
    font-family: 'Corinthia', cursive;
    font-weight: bold;
    margin: 20px;
    font-size: 50px;
}

h3{
    font-family: 'Corinthia', cursive;
}
p{
    font-family: 'Comic Neue';
}
.asistencia{
    font-style: italic;
    font-weight: bold;
    margin-top: 20px;
}
#navbar{
    background-color: rgb(235 236 231); 
    display: flex;
    justify-content: space-evenly; 
}
#navbar a{
    font-family: Arial, Helvetica, sans-serif; 
}
a{
    font-family: 'Comic Neue';
}
#evento{
    text-align: center;
}
.direccion{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.direccion div{
    width: 300px;
}
#formulario{
    text-align: center;
}
#formulario a{
    text-decoration: none;
    color: black; 
}
#alojamientos{
    text-align: center;
}
#instagram{
    text-align: center;
}
#instagram a{
    text-decoration: none;
    color: black
}
.list-group{
    width: 300px;
    display: flex;
 
}
.icon{
    width: 50px;
}
.list-group{
    display: flex;
}
footer p{
    text-align: end;
}