body{
    background-color: rgb(235 236 231);
}
.titulo{
    font-family: 'Corinthia', cursive;
    font-size: 100px;
    text-align: center;
    color: rgb(61 46 43);
}
.banner-img{
    width: 100%;
    opacity: 0.2;
}
#banner{
    position: relative;
    text-align: center;
}
.div-titulo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
h2{
    font-family: 'Corinthia', cursive;
    font-weight: bold;
    margin: 20px;
    font-size: 50px;
    color: rgb(61 46 43);
}

h3{
    font-family: 'Corinthia', cursive;
    font-size: 40px;
    color: rgb(61 46 43);
}
p{
    font-family: 'Comic Neue';
    color: rgb(61 46 43);
}
.asistencia{
    font-style: italic;
    font-weight: bold;
    margin-top: 20px;
}
#navbar{
    background-color: rgb(235 236 231); 
    display: flex;
    justify-content: space-evenly;
}
#navbar a{
    font-family: Arial, Helvetica, sans-serif; 
    color: rgb(61 46 43);}
a{
    font-family: 'Comic Neue';
}
#evento{
    text-align: center;
    margin-top: 5rem;
}
.direccion{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.direccion div{
    width: 300px;
}
#formulario{
    text-align: center;
}
#formulario a{
    text-decoration: none;
    color: rgb(61 46 43);
}
#alojamientos{
    text-align: center;
}
.alojamientoscards{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#instagram{
    text-align: center;
}
#instagram a{
    text-decoration: none;
    color: rgb(61 46 43);
    font-size: 30px;
}
.list-group{
    width: 300px;
    display: flex;
    padding-top: 10px;
}
.icon{
    width: 50px;
}
.list-group{
    display: flex;
}
footer p{
    text-align: end;
}
h2{
    margin-top: 2rem;
}
#navbarNavAltMarkup{
    justify-content: center;
}
@media screen and (max-width: 480px) {
    .titulo{
        margin-top: 50px;
        font-size: 55px;
    }
}
@media screen and (max-width: 376px) {
    .titulo{
        margin-top: 50px;
        font-size: 40px;
    }
}